<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<div class="col-lg-8 scoreboard">
  <table class="table table-striped table-hover main-scoreboard">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.name %></th>
          <th><%= user.team.name %></th>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New User', new_user_path %>
