%h1
  = button_link(@game.link, 'Go to Retro Uprising Page', 'btn-primary', 'blank')
  = button_link(games_path, "Back to Game List") 

.jumbotron
  %h1
    = @game.name
  /%p.small This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  %p.small
    = sanitize(@game.dips)

.row
  .col-lg-8
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th 
          %th Pos
          %th Player
          %th Team
          %th Score
          %th Points
      %tbody
        - points = 20
        - @players.each_with_index do |player, i|
          - @teamsf.find{|t| t[:id] == player.team_id}[:many] += 1
          %tr{ class: ("info" if cookies[:player_id].to_i == player.id)}
            %td
              = @teamsf.find{|t| t[:id] == player.team_id}[:many] < 3 ? image_tag("okicon.png", alt: "Qualified Score") : "" 
            %td
              = (@game.name == 'Contra' && player.max_score > 1000000) ? 1 : i + 1
            %td 
              = player.name
            %td 
              = player.team_name
            %td 
              = player.max_score  
            %td
              - if @teamsf.find{|t| t[:id] == player.team_id}[:many] < 3
                = points
                - points -= 1

  .col-lg-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title 
          Latest Submissions
      .list-group
        - @latest_sub.each do |submission|
          .list-group-item
            %span.badge
              = submission.score
            = submission.user.name