%h2.text-center Submit Score
%br
.row
  .col-md-6.col-centered
    = simple_form_for(@submission, html: {class: ""})do |f|
      = f.association :user, collection: @players, label: "Player"
      = f.association :game, collection: @games, label: "Game"
      = f.input :score, label: "Score"
      = f.button :submit, "Submit", class: "btn-primary"